throttle.ctrl
user-*.py
*.bak
*.lwp
*.pyc
*.pyo
*.*~
/.tox
/*.egg
/data*
/category*
families/
logs*
*apicache*
*pycache*
/cache
/cache/*
.cache
.idea
pywikibot.egg-info/
build
dist
docs/_build/
.vscode/
**/.DS_Store

# euku
.passwd
